/* ======================================================
   DARK PREMIUM THEME — COLOR VARIABLES
   Стиль: минимализм, современно, дорого
   ====================================================== */

:root {
  /* -------------------------
     BACKGROUNDS
     ------------------------- */
  --bg-main: #192a3c; /* основной фон — тёмно-серый, не черный */
  --bg-secondary: #223546; /* карточки, секции — чуть светлее */

  --accent: #3196aa;
  --accent-hover: #1c5764;

  --success: #22c55e;
  --warning: #fbbf24;
  --error: #ef4444;
  --info: #38bdf8;
}
