/* ======================================================
   DARK PREMIUM THEME — COLOR VARIABLES
   Стиль: минимализм, современно, дорого
   ====================================================== */

:root {
  --bg-main: #1b1b1b; /* насыщенный графит */
  --bg-secondary: #272727; /* мягко выделяет блоки */
  --accent: #1abc9c; /* спокойный бирюзовый */
  --accent-hover: #13907a; /* темнее при наведении */
}
