@import "tailwindcss";
@import "./base.css";

@theme {
  --breakpoint-xs: 30rem;

  /* colors */
  /* -------------------------
     BACKGROUNDS
     ------------------------- */

  --color-bg-main: var(--bg-main);
  --color-bg-secondary: var(--bg-secondary);

  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);

  --color-accent-grey: var(--color-zinc-700);
  --color-accent-grey-hover: var(--color-zinc-600);

  /* -------------------------
     STATUS COLORS
     ------------------------- */
  --color-success: var(--success);
  --color-success-hover: var(--color-green-700);
  --color-warning: var(--warning);
  --color-error: var(--color-red-600);
  --color-error-hover: var(--color-red-700);
  --color-info: var(--info);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #18181b; /* bg-zinc-950 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #27272a; /* bg-zinc-900 */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3f3f46; /* bg-zinc-800 (hover) */
  }
}

body {
  font-family: "Inter";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.1s ease-out forwards;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-secondary) inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff;
}
